@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'roboto' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.headercontainer {
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
    padding: 10px 100px 10px 100px;
}

.header.top {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;
}

li {
    color: #E5E7Eb;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 400px;
    height: 200px;
}

.right img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    flex-grow: 0;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    flex-grow: 0;
}

.herobutton,
.signupbutton {
    background-color: #3882F6;
    padding: 5px 30px 5px 30px;
    font-size: 18px;
    border-radius: 11px;
    border: 0;
    margin-left: 0;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    background-color: #1F2937;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    padding: 20px;
}

.signup {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 20px 70px 20px 70px;
    gap: 30px;
    width: 700px;
    margin: 50px auto 50px auto;
    border-radius: 10px;
}

.signupbutton {
    border: 2px white solid;
}

.signupbold {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.signuplight {
    font-size: 14px;
    color: white;
}

.quote {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin: 10px 0px 10px 0px;
    padding: 20px 100px 20px 100px;
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.signature {
    font-size: 36px;
    font-weight: bold;
}

.infoheader {
    font-size: 36px;
    font-weight: bolder;
    margin: 30px auto 30px auto;
}

.sub {
    color: #1F2937;
}

.imgdescription {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
    flex-grow: 0;
    margin: 10px auto 10px auto;
}

h3 {
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.img {
    border: 2px #3882F6 solid;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.imgcontainer {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    flex-grow: 1;
}

.subcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 20px;
    height: 100px;
    width: 100px;
}

.sub {
    text-align: center;
}

.hero {
    color: rgba(255, 255, 255, 0.637);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headerimg {
    flex-grow: 0;
}

.info {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    flex-grow: 1;
}
